*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 30px;
    background:#f3f3f3;
}
.container{ 
    margin: 0 auto;
    width: 1200px;
}
.logo{
    margin-top: 20px;
    margin-left: 200px;
    float: left;;
}
.contact{
    float:right;
    background:yellowgreen;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 20px;
}
.clear{
    clear: both;
}
.logo img{
  max-width: 200px;
}
.main-menu #menu{
    background:navy;
}
#active{
    margin: 0px;
    padding: 10px 0px;
}
ul li {
    padding: 10px 15px;
    position: relative;
    float: left;
    list-style: none;
    margin-left:20px;
    
}
ul li ul li{
    position: absolute;
    visibility: hidden;
}
a{
    text-decoration: none;
   color: white;
 
}