*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 30px;
    background:#f3f3f3;
  
}
.container{ 
    margin: 0 auto;
    width: 1200px;
}
.logo{
    margin-top: 20px;
    margin-left: 200px;
    float: left;;
}
.contact{
    float:right;
    background:yellowgreen;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 20px;
}
.clear{
    clear: both;
}
.logo img{
  max-width: 200px;
}
.main-menu #menu{
    background:#3333FF;
    border-bottom: 3px solid red;

}
#menu a {
    border-radius: 5px;
}
#active{
    padding: 10px  0px;
}

#menu ul li {
    padding: 10px 15px;
    position: relative;
    float: left;
    list-style: none;
    padding-left: 0px;
    margin-left: 50px;
    
}
#menu ul li ul li{
    margin-left: 0px;

}

ul li ul{
    z-index: 9999;
    position: absolute;
    visibility: hidden;
    top: 90px;
    width: 200;
    background:black;
    transition: all .8s;
    opacity: 0;
    border-radius: 5px; 
}
ul li ul li{
    margin-left: 0px;
    padding-left: 0px;
    width: 100%; 
}
ul li:hover ul{
    visibility: visible;
    top: 75px;
    opacity: 1;
}
a{
    text-decoration: none;
   color: white;
   padding: 15px 15px;
   display: inline-block; 
 
}
#menu ul li:hover a{
    background: black;
}
.space{
    height: 20px;
    background: #f3f3f3;
}
.content{
  
}

.cato{
    background: blue;
    width: 200px;
    float: left;
  
}
.cato .title {
    text-align: center; 
    background: #ccc;
    font-size: 18px;
    padding: 15px;
    margin: 15px;
}
.cato .list ul{
    padding: 0px;
    list-style: none;
}
.main-content{
    position: relative;
    margin-left: 300px;
    overflow: auto;
    background: white;
}
.introduce{
}
.title h3{
text-align: center;
background:#404040;
margin-bottom: 30px;
padding:20px;
border-radius: 4px;
color: #E0E0E0;
}
.list-SP{
    float: left;
    width: 50%;
}
.list-SP img{
    padding: 5px;
    border: 3px solid burlywood;
    border-radius: 4px;
    width: 150px;
    height: 150px;
}
#space{
    height: 100px;
}
.footer{
    background: black;
    color: white;
}